flows-growbed.json
[
    {
        "id": "09f88154b297ad69",
        "type": "tab",
        "label": "Growbed",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32bfe9d9b16ca73b",
        "type": "mqtt in",
        "z": "09f88154b297ad69",
        "name": "Temperature Subscriber",
        "topic": "farm/growbed/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d2f09948498f7c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "af9beaa098d219df"
            ]
        ]
    },
    {
        "id": "af9beaa098d219df",
        "type": "json",
        "z": "09f88154b297ad69",
        "name": "Parse string data to JSON Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "03b4c2fdd875371f"
            ]
        ]
    },
    {
        "id": "03b4c2fdd875371f",
        "type": "switch",
        "z": "09f88154b297ad69",
        "name": "Separate component Id",
        "property": "payload.componentId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GB1-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB1-S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB2-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB2-S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB3-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB3-S2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "84c1dda6de4fbbe2"
            ],
            [
                "70b08344ca9f4064"
            ],
            [
                "bc7388c7dbee3172"
            ],
            [
                "015f5187cb45b506"
            ],
            [
                "9d9ba40001292c40"
            ],
            [
                "d3e9230707532e13"
            ]
        ]
    },
    {
        "id": "84c1dda6de4fbbe2",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "3b09620305a158eb"
            ]
        ]
    },
    {
        "id": "70b08344ca9f4064",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "44508c21ea37fb3f"
            ]
        ]
    },
    {
        "id": "015f5187cb45b506",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "3c55535b57c591c3"
            ]
        ]
    },
    {
        "id": "bc7388c7dbee3172",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "9dbdce44bc4c5638"
            ]
        ]
    },
    {
        "id": "44508c21ea37fb3f",
        "type": "ui_chart",
        "z": "09f88154b297ad69",
        "name": "Temperature-2",
        "group": "e875ceccc70bcbaf",
        "order": 3,
        "width": "6",
        "height": 4,
        "label": "Temperature-2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "15",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3b09620305a158eb",
        "type": "ui_chart",
        "z": "09f88154b297ad69",
        "name": "Temperature-1",
        "group": "e875ceccc70bcbaf",
        "order": 2,
        "width": "6",
        "height": 4,
        "label": "Temperature-1",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "15",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9d9ba40001292c40",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 440,
        "wires": [
            [
                "16cc88574622c2c5"
            ]
        ]
    },
    {
        "id": "d3e9230707532e13",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "1cfd99227421d708"
            ]
        ]
    },
    {
        "id": "9dbdce44bc4c5638",
        "type": "ui_chart",
        "z": "09f88154b297ad69",
        "name": "Temperature-1",
        "group": "309ca962c7499922",
        "order": 2,
        "width": "5",
        "height": 4,
        "label": "Temperature-1",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "15",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3c55535b57c591c3",
        "type": "ui_chart",
        "z": "09f88154b297ad69",
        "name": "Temperature-2",
        "group": "309ca962c7499922",
        "order": 3,
        "width": "6",
        "height": 4,
        "label": "Temperature-2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "15",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "16cc88574622c2c5",
        "type": "ui_chart",
        "z": "09f88154b297ad69",
        "name": "Temperature-1",
        "group": "1618e810272a85d8",
        "order": 2,
        "width": "6",
        "height": 4,
        "label": "Temperature-1",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "15",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1cfd99227421d708",
        "type": "ui_chart",
        "z": "09f88154b297ad69",
        "name": "Temperature-2",
        "group": "1618e810272a85d8",
        "order": 3,
        "width": "6",
        "height": 4,
        "label": "Temperature-2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "15",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5e2415b7d65f448e",
        "type": "mqtt in",
        "z": "09f88154b297ad69",
        "name": "Ph-value Subscriber",
        "topic": "farm/growbed/phValue",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d2f09948498f7c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "bf085df76e8cd79f"
            ]
        ]
    },
    {
        "id": "bf085df76e8cd79f",
        "type": "json",
        "z": "09f88154b297ad69",
        "name": "Parse string data to JSON Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 620,
        "wires": [
            [
                "bee78001fe0d5f5c"
            ]
        ]
    },
    {
        "id": "bee78001fe0d5f5c",
        "type": "switch",
        "z": "09f88154b297ad69",
        "name": "Separate component Id",
        "property": "payload.componentId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GB1-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB1-S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB2-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB2-S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB3-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB3-S2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "53e8b541cd74c88c"
            ],
            [
                "f443419749287749"
            ],
            [
                "2d0003d45bf05410"
            ],
            [
                "772d92a3f8cb08bf"
            ],
            [
                "cb38a7eec5371b2e"
            ],
            [
                "42c4634a090f40e3"
            ]
        ]
    },
    {
        "id": "53e8b541cd74c88c",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 600,
        "wires": [
            [
                "a1fe61241bf076af"
            ]
        ]
    },
    {
        "id": "f443419749287749",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 640,
        "wires": [
            [
                "1c248174ddc9507b"
            ]
        ]
    },
    {
        "id": "772d92a3f8cb08bf",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 760,
        "wires": [
            [
                "80decefbeb354ac8"
            ]
        ]
    },
    {
        "id": "2d0003d45bf05410",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 720,
        "wires": [
            [
                "5c81d18a92f115ba"
            ]
        ]
    },
    {
        "id": "cb38a7eec5371b2e",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 840,
        "wires": [
            [
                "029c76ebc4e60f0f"
            ]
        ]
    },
    {
        "id": "42c4634a090f40e3",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 880,
        "wires": [
            [
                "fbdafce0371f2687"
            ]
        ]
    },
    {
        "id": "a1fe61241bf076af",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Ph-Value 1",
        "group": "e875ceccc70bcbaf",
        "order": 3,
        "width": "6",
        "height": 4,
        "gtype": "gage",
        "title": "Ph-Value 1",
        "label": "",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "9",
        "className": "",
        "x": 1050,
        "y": 600,
        "wires": []
    },
    {
        "id": "1c248174ddc9507b",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Ph-value 2",
        "group": "e875ceccc70bcbaf",
        "order": 3,
        "width": "6",
        "height": 4,
        "gtype": "gage",
        "title": "Ph-Value 2",
        "label": "",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "9",
        "className": "",
        "x": 1050,
        "y": 640,
        "wires": []
    },
    {
        "id": "5c81d18a92f115ba",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Ph-value 1",
        "group": "309ca962c7499922",
        "order": 4,
        "width": "5",
        "height": 4,
        "gtype": "gage",
        "title": "Ph-Value 1",
        "label": "",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "9",
        "className": "",
        "x": 1050,
        "y": 720,
        "wires": []
    },
    {
        "id": "80decefbeb354ac8",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Ph-value 2",
        "group": "309ca962c7499922",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Ph-Value 2",
        "label": "",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "9",
        "className": "",
        "x": 1050,
        "y": 760,
        "wires": []
    },
    {
        "id": "029c76ebc4e60f0f",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Ph-value 1",
        "group": "1618e810272a85d8",
        "order": 4,
        "width": "6",
        "height": 4,
        "gtype": "gage",
        "title": "Ph-Value 1",
        "label": "",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "9",
        "className": "",
        "x": 1050,
        "y": 840,
        "wires": []
    },
    {
        "id": "fbdafce0371f2687",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Ph-value 2",
        "group": "1618e810272a85d8",
        "order": 5,
        "width": "6",
        "height": 4,
        "gtype": "gage",
        "title": "Ph-Value 2",
        "label": "",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "9",
        "className": "",
        "x": 1050,
        "y": 880,
        "wires": []
    },
    {
        "id": "01475aeb7c063c79",
        "type": "mqtt in",
        "z": "09f88154b297ad69",
        "name": "Oxygen Subscriber",
        "topic": "farm/growbed/dissolvedOxygen",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d2f09948498f7c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 960,
        "wires": [
            [
                "52de095d2bd51e15"
            ]
        ]
    },
    {
        "id": "52de095d2bd51e15",
        "type": "json",
        "z": "09f88154b297ad69",
        "name": "Parse string data to JSON Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "513ff903a2baa874"
            ]
        ]
    },
    {
        "id": "513ff903a2baa874",
        "type": "switch",
        "z": "09f88154b297ad69",
        "name": "Separate component Id",
        "property": "payload.componentId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GB1-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB1-S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB2-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB2-S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB3-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB3-S2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "63d996f325230ab9"
            ],
            [
                "bb04163f8dde5a9c"
            ],
            [
                "6f9cbec8d20dd845"
            ],
            [
                "807ed01c875f9460"
            ],
            [
                "d4ec192c2792f1a5"
            ],
            [
                "4a6d9fcdd34d36e1"
            ]
        ]
    },
    {
        "id": "63d996f325230ab9",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1000,
        "wires": [
            [
                "c3b4c1ed6d3684c1"
            ]
        ]
    },
    {
        "id": "bb04163f8dde5a9c",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1040,
        "wires": [
            [
                "f077701dd5f859e9"
            ]
        ]
    },
    {
        "id": "807ed01c875f9460",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1160,
        "wires": [
            [
                "700d350b0cfd56b6"
            ]
        ]
    },
    {
        "id": "6f9cbec8d20dd845",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1120,
        "wires": [
            [
                "cd9637b488142ae5"
            ]
        ]
    },
    {
        "id": "d4ec192c2792f1a5",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1240,
        "wires": [
            [
                "c46d4caa0357a4da"
            ]
        ]
    },
    {
        "id": "4a6d9fcdd34d36e1",
        "type": "change",
        "z": "09f88154b297ad69",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1280,
        "wires": [
            [
                "8ae038742f7967b8"
            ]
        ]
    },
    {
        "id": "c3b4c1ed6d3684c1",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Dissolved Oxygen 1",
        "group": "e875ceccc70bcbaf",
        "order": 3,
        "width": "6",
        "height": 4,
        "gtype": "gage",
        "title": "Dissolved Oxygen 1",
        "label": "ppm",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1080,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f077701dd5f859e9",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Dissolved Oxygen 2",
        "group": "e875ceccc70bcbaf",
        "order": 3,
        "width": "6",
        "height": 4,
        "gtype": "gage",
        "title": "Dissolved Oxygen 2",
        "label": "ppm",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1080,
        "y": 1040,
        "wires": []
    },
    {
        "id": "cd9637b488142ae5",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Dissolved Oxygen 1",
        "group": "309ca962c7499922",
        "order": 7,
        "width": "5",
        "height": 4,
        "gtype": "gage",
        "title": "Dissolved Oxygen 1",
        "label": "ppm",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1080,
        "y": 1120,
        "wires": []
    },
    {
        "id": "700d350b0cfd56b6",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Dissolved Oxygen 2",
        "group": "309ca962c7499922",
        "order": 9,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Dissolved Oxygen 2",
        "label": "ppm",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1080,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c46d4caa0357a4da",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Dissolved Oxygen 1 ",
        "group": "1618e810272a85d8",
        "order": 6,
        "width": "6",
        "height": 4,
        "gtype": "gage",
        "title": "Dissolved Oxygen 1",
        "label": "ppm",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1080,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8ae038742f7967b8",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Dissolved Oxygen 2",
        "group": "1618e810272a85d8",
        "order": 7,
        "width": "6",
        "height": 4,
        "gtype": "gage",
        "title": "Dissolved Oxygen 2",
        "label": "ppm",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1080,
        "y": 1280,
        "wires": []
    },
    {
        "id": "332880647b241388",
        "type": "mqtt in",
        "z": "09f88154b297ad69",
        "name": "Water level Subscriber",
        "topic": "farm/growbed/waterLevel",
        "qos": "2",
        "datatype": "auto",
        "broker": "1d2f09948498f7c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1420,
        "wires": [
            [
                "623da80b04a207da"
            ]
        ]
    },
    {
        "id": "623da80b04a207da",
        "type": "json",
        "z": "09f88154b297ad69",
        "name": "Parse string data to JSON Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 1480,
        "wires": [
            [
                "dc1e9595eb84db5d"
            ]
        ]
    },
    {
        "id": "a9273ade86a5625a",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Water Level - 1",
        "group": "e875ceccc70bcbaf",
        "order": 6,
        "width": "6",
        "height": "5",
        "gtype": "wave",
        "title": "Water Level - 1",
        "label": "litres",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "700",
        "seg2": "1000",
        "className": "liquidFillGaugeText",
        "x": 860,
        "y": 1500,
        "wires": []
    },
    {
        "id": "434134a157a3e49a",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Water Level - 1",
        "group": "309ca962c7499922",
        "order": 10,
        "width": "5",
        "height": "5",
        "gtype": "wave",
        "title": "Water Level - 1",
        "label": "litres",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "700",
        "seg2": "1000",
        "className": "",
        "x": 860,
        "y": 1620,
        "wires": []
    },
    {
        "id": "0dd291e97cdb3f90",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Water Level - 1",
        "group": "1618e810272a85d8",
        "order": 8,
        "width": "6",
        "height": "5",
        "gtype": "wave",
        "title": "Water Level - 1",
        "label": "litres",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "700",
        "seg2": "1000",
        "className": "",
        "x": 860,
        "y": 1720,
        "wires": []
    },
    {
        "id": "dc1e9595eb84db5d",
        "type": "switch",
        "z": "09f88154b297ad69",
        "name": "Separate component Id",
        "property": "payload.componentId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GB1-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB1-S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB2-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB2-S2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB3-S1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GB3-S2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 570,
        "y": 1620,
        "wires": [
            [
                "a9273ade86a5625a"
            ],
            [
                "c2c87dfc7ff11571"
            ],
            [
                "434134a157a3e49a"
            ],
            [
                "c2477edfb3d61821"
            ],
            [
                "0dd291e97cdb3f90"
            ],
            [
                "325eada5ef813ea0"
            ]
        ]
    },
    {
        "id": "c2c87dfc7ff11571",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Water Level - 2",
        "group": "e875ceccc70bcbaf",
        "order": 6,
        "width": "6",
        "height": "5",
        "gtype": "wave",
        "title": "Water Level - 2",
        "label": "litres",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "700",
        "seg2": "1000",
        "className": "liquidFillGaugeText",
        "x": 860,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c2477edfb3d61821",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Water Level - 2",
        "group": "309ca962c7499922",
        "order": 12,
        "width": "5",
        "height": "5",
        "gtype": "wave",
        "title": "Water Level - 2",
        "label": "litres",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "700",
        "seg2": "1000",
        "className": "",
        "x": 860,
        "y": 1660,
        "wires": []
    },
    {
        "id": "325eada5ef813ea0",
        "type": "ui_gauge",
        "z": "09f88154b297ad69",
        "name": "Water Level - 2",
        "group": "1618e810272a85d8",
        "order": 10,
        "width": "6",
        "height": "5",
        "gtype": "wave",
        "title": "Water Level - 2",
        "label": "litres",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#ca3838",
            "#38ca38",
            "#ca3838"
        ],
        "seg1": "700",
        "seg2": "1000",
        "className": "",
        "x": 860,
        "y": 1760,
        "wires": []
    },
    {
        "id": "ba92202997c92523",
        "type": "ui_spacer",
        "z": "09f88154b297ad69",
        "name": "spacer",
        "group": "e875ceccc70bcbaf",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "33537cb35de79cee",
        "type": "ui_spacer",
        "z": "09f88154b297ad69",
        "name": "spacer",
        "group": "309ca962c7499922",
        "order": 5,
        "width": "1",
        "height": "4"
    },
    {
        "id": "ea2bd4f1183437f9",
        "type": "ui_spacer",
        "z": "09f88154b297ad69",
        "name": "spacer",
        "group": "309ca962c7499922",
        "order": 11,
        "width": "1",
        "height": "4"
    },
    {
        "id": "b42f02a39d4c8b7a",
        "type": "ui_spacer",
        "z": "09f88154b297ad69",
        "name": "spacer",
        "group": "1618e810272a85d8",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "31387dae6f1209cb",
        "type": "ui_spacer",
        "z": "09f88154b297ad69",
        "name": "spacer",
        "group": "309ca962c7499922",
        "order": 1,
        "width": "11",
        "height": "1"
    },
    {
        "id": "6309b9261be43479",
        "type": "ui_spacer",
        "z": "09f88154b297ad69",
        "name": "spacer",
        "group": "309ca962c7499922",
        "order": 8,
        "width": "1",
        "height": "4"
    },
    {
        "id": "1d2f09948498f7c8",
        "type": "mqtt-broker",
        "name": "Test Docker MQTT",
        "broker": "172.17.0.5",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e875ceccc70bcbaf",
        "type": "ui_group",
        "name": "Grow Bed 1",
        "tab": "caad167df015cbb1",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "309ca962c7499922",
        "type": "ui_group",
        "name": "Grow Bed 2",
        "tab": "caad167df015cbb1",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1618e810272a85d8",
        "type": "ui_group",
        "name": "Grow Bed 3",
        "tab": "caad167df015cbb1",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "caad167df015cbb1",
        "type": "ui_tab",
        "name": "Grow Bed",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]